@model MCBA_Web.Models.Customer
@{
    ViewBag.Title = "Accounts";
}


<div id="deposit-container">

    <h1>Welcome, @Model.Name</h1>

    <h3>Your Accounts</h3>

    <table class="table">

        @foreach (var account in Model.Accounts)
        {
            <tr>
                <td>@Html.DisplayFor(x => account.AccountNumber)</td>
                <td>@Html.DisplayFor(x => account.AccountType)</td>
                <td>@Html.DisplayFor(x => account.Balance)</td>
                <td>
                    <a class="btn btn-primary" asp-action="Deposit" asp-route-accountNumber="@account.AccountNumber"></a>
                </td>
            </tr>
        }
    </table>

</div>