@model Customer

<form asp-controller="Customer" asp-action="UpdateCustomer" asp-route-customerId="@Model.CustomerID">
    <div class="form-group">
        <label asp-for="CustomerID">Customer ID</label>
        <input type="text" class="form-control" id="CustomerID" name="CustomerID" value="@Model.CustomerID" readonly>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" type="text" class="form-control general-editable" id="Name" name="Name" value="@Model.Name" readonly>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TFN">TFN</label>
        <input asp-for="TFN" type="text" class="form-control general-editable" id="TFN" name="TFN" value="@Model.TFN" readonly>
        <span asp-validation-for="TFN" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mobile">Mobile</label>
        <input asp-for="Mobile" type="text" class="form-control general-editable" id="Mobile" name="Mobile" value="@Model.Mobile" readonly>
        <span asp-validation-for="Mobile" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12 text-center">
                <input style="width: 100px; font-size: 18px;" id="edit-general-button" value="Edit" class="btn btn-primary" />
                <input type="submit" style="display:none; width: 100px; font-size: 18px;" id="save-general-button" value="Save" class="btn btn-primary" />
            </div>
            @Html.ValidationMessage("UpdateFailed", new { @class = "text-danger" })
        </div>
    </div>
</form>