@model Customer

<form asp-controller="Address" asp-action="UpdateAddress" asp-route-_customerId="@Model.CustomerID">
    <div class="form-group">
        <label asp-for="Address.AddressID">Address ID</label>
        <input asp-for="Address.AddressID" type="text" class="form-control" id="Address.AddressID" name="Address.AddressID" value="@Model.Address.AddressID" readonly>
    </div>
    <div class="form-group">
        <label asp-for="Address.Street">Street</label>
        <input asp-for="Address.Street" type="text" class="form-control address-editable" id="Address.Street" name="Address.Street" value="@Model.Address.Street" readonly>
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.City">City</label>
        <input asp-for="Address.City" type="text" class="form-control address-editable" id="Address.City" name="Address.City" value="@Model.Address.City" readonly>
        <span asp-validation-for="Address.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.Postcode">Postcode</label>
        <input asp-for="Address.Postcode" type="text" class="form-control address-editable" id="Address.Postcode" name="Address.Postcode" value="@Model.Address.Postcode" readonly>
        <span asp-validation-for="Address.Postcode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.State"></label>
        <select asp-for="Address.State" asp-items="Html.GetEnumSelectList<StateType>()" class="form-control address-editable" readonly> </select>
        <span asp-validation-for="Address.State" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12 text-center">
                <input style="width: 100px; font-size: 18px;" id="edit-address-button" value="Edit" class="btn btn-primary" />
                <input type="submit" style="display:none; width: 100px; font-size: 18px;" id="save-address-button" value="Save" class="btn btn-primary" />
            </div>
            @Html.ValidationMessage("UpdateFailed", new { @class = "text-danger" })
        </div>
    </div>
</form>